<div class="overlay" (click)="closeCalendar()">
    <div class="calendar-modal" (click)="$event.stopPropagation()">
        <div class="calendar-content">

            <div class="close-btn">
                <svg (click)="closeCalendar()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
            </div>
        
            <div class="calendar-header">
                <button class="nav-btn" (click)="prevMonth()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left-icon lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg></button>
                <span>{{ currentMonth | date:'MMMM yyyy' }}</span>            
                <button class="nav-btn" (click)="nextMonth()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right-icon lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg></button>
            </div>
    
            <div class="weekdays">
                <div *ngFor="let day of ['MA','DI','WO','DO','VR','ZA','ZO']">{{ day }}</div>
            </div>      
    
            <div class="calendar-grid">
                <button *ngFor="let day of monthDays"
                    [disabled]="!day.date"
                    [class.has-slots]="day.date && isAvailable(day.date)"
                    [class.selected]="day.date && isSelected(day.date)"
                    (click)="day.date && selectDate(day.date)">
                    {{ day.label }}
                </button>
            
                <div *ngIf="!hasAvailableDaysThisMonth()" class="calendar-overlay">
                    Er zijn geen beschikbare dagen in deze maand.
                </div>
            </div>
            
            <div class="slots" *ngIf="selectedDate">
                <div class="slot-header">
                    {{ formatSelectedDate(selectedDate) }}
                </div>
            
                <div class="slot-list" *ngIf="hasSlots(selectedDate)">
                    <button *ngFor="let time of availableDays[formatDateKey(selectedDate)]" (click)="selectSlot(formatDateKey(selectedDate), time.start)">
                        <span class="dot"></span> {{ convertTo12Hour(time.start) }}
                    </button>
                </div>
                
                <div class="slot-list" *ngIf="!hasSlots(selectedDate)">
                    <p>Alle tijdslots zijn momenteel volgeboekt.</p>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isLoading" class="loader-overlay" (click)="$event.stopPropagation()">
        <div class="loader"></div>
    </div>
</div>
  